  /*Sundarban*/
#sundarban{
    background-color: rgb(139, 139, 228);
    font-family: 'Times New Roman', Times, serif;
    height: 90%;
    width: 60%;
    padding: 1%;
    margin: 5%;
    border-radius: 6px;
}
#sun{
    color:rgb(3, 3, 48);
}
  #sunimg{
    margin-top: -27%;
    margin-left: 70%;
    margin-right: 50%;
  }

  /*Darjeeling*/
  #darjeeling{
    background-color: rgb(195, 139, 228);
    font-family: 'Times New Roman', Times, serif;
    height: 90%;
    width: 60%;
    padding: 1%;
    margin: 5%;
    border-radius: 6px;
  }
  #dar{
    color:rgb(44, 6, 43);
}
  #darimg{
    margin-top: -30%;
    margin-left: 70%;
    margin-right: 50%;
  }

    /*Bishnupur*/
  #bishnupur{
    background-color: rgb(69, 237, 164);
    font-family: 'Times New Roman', Times, serif;
    height: 90%;
    width: 60%;
    padding: 1%;
    margin: 5%;
    border-radius: 6px;
    
  }
  #bishnu{
    color:rgb(11, 64, 10);
}
  
  #bishnuimg{
    margin-top: -29%;
    margin-left: 69%;
    margin-right: 50%;
  }

  /*Neora vally*/
  #neoravally{
    background-color: rgb(20, 231, 231);
    font-family: 'Times New Roman', Times, serif;
    height: 90%;
    width: 60%;
    padding: 1%;
    margin: 5%;
    border-radius: 6px;
    
  }
  #neora{
    color:rgb(9, 72, 8);
}
  #neoraimg{
    margin-top: -27%;
    margin-left: 70%;
    margin-right: 50%;
  }

  /*Santiniketan*/
  #santiniketan{
    background-color: rgb(226, 228, 106);
    font-family: 'Times New Roman', Times, serif;
    height: 90%;
    width: 60%;
    padding: 1%;
    margin: 5%;
    border-radius: 6px;
    
  }
  #santi{
    color:rgb(57, 72, 8);
}
  #santiimg{
    margin-top: -31%;
    margin-left: 70%;
    margin-right: 50%;
  }

  /*button*/
  #button{
    background-color: aliceblue;
    padding: 5px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    color:none;
    border-radius: 2px;
}
#button:hover {
    background-color: #edeaeb;
    color: rgb(234, 7, 7);
  }